@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Star Rail Neue;
  src: url("@/assets/fonts/StarRailNeue-Sans-Regular.ttf");
}

@font-face {
  font-family: Hanyiwenhei;
  src: url("@/assets/fonts/hyry-75w.ttf");
}

@font-face {
  font-family: hksr;
  src: url("@/assets/fonts/zh-cn.ttf");
}

:root {
  font-family: hksr, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 300ms, color 300ms;
}

button {
  @apply btn;
}

html {
  /* filter: grayscale(1); */
}

html, body, #app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

[data-theme='dark'] {
  --hover: #80fff2;
}
[data-theme='light'] {
  --hover: #2b948c;
}

a:hover, .theme-toggle {
  color: var(--hover);
}

.scrollbar-track {
  background-color: transparent!important;
}

.scrollbar-thumb {
  background: #b0ffed4e!important;
  backdrop-filter: drop-shadow(white, 0px, 0px, 10px, 0px);
}

.general-container {
  @apply pt-20 px-5 md:px-20;
}

