@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --text-color: #040406;
  --title-color: #121212;
  --info-color: #6a6a6a;
  --notice-color: #949595;
  --message-text-hover-color: var(--text-color);
  --message-icon-hover-color: #050505;
  --message-item-name-color: #6b6b6b;
  --message-item-background-color: #cecece;
  --message-item-img-width: 280px;
  --message-item-avatar-width: 140px;
  --message-item-avatar-margin: 35px;
  --message-menu-background-color: #cccacd;
  --menu-text-color: #afaeb3;
  --menu-icon-background-color: #e3e3e3;
  --menu-btn-hover: #e4d89b;
  --meni-icon-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.8);
  --border-color: #595556;
  --border-hover-color: #b5b5b5;
  --box-background-color: #d8d8d8;
  --menu-border: 5px solid var(--border-color);
  --menu-border-hover: 5px solid var(--border-hover-color);
  --menu-border-highlight: 5px solid #f3f4f6;
  --option-background-color: #ece9ec;
  --option-background--hover-color: #cccccc;
  --avatar-background: #505050;
  --avatar-image-clip-path-bilibiliwiki-only: circle(46%);
  --popup-ease: cubic-bezier(0.39, 1.22, 0.6, 1);
}

@font-face {
  font-family: Star Rail Neue;
  src: url("@/assets/fonts/StarRailNeue-Sans-Regular.ttf");
}

@font-face {
  font-family: Hanyiwenhei;
  src: url("@/assets/fonts/hyry-75w.ttf");
}

@font-face {
  font-family: hksr;
  src: url("@/assets/fonts/zh-cn.ttf");
}

:root {
  /* font-family: Noto Sans SC, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 700;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 300ms, color 300ms;
}

html {
  /* filter: grayscale(1); */
}

html, body, #app {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

[data-theme='dark'] {
  --hover: #80fff2;
}
[data-theme='light'] {
  --hover: #2b948c;
}

a:hover, .theme-toggle {
  color: var(--hover);
}

.scrollbar-track {
  background-color: transparent!important;
}

.scrollbar-thumb {
  background: #b0ffed4e!important;
  backdrop-filter: drop-shadow(white, 0px, 0px, 10px, 0px);
}

.general-container {
  @apply pt-20 px-5 md:px-20;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #c6c6c6;
  margin: 20px 0;
}

::-webkit-scrollbar-thumb {
  background: #545454;
}

.fade-in-enter-active {
  transition: all 0.2s;
}
.fade-in-enter-from {
  opacity: 0;
}
.fade-out-leave-active {
  transition: opacity 0.5s 1s linear;
}
.fade-out-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 250ms ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

.slide-left-enter-active {
  transition: all 0.5s ease-out;
}
.slide-left-enter-from {
  opacity: 0;
  transform: translateX(50%);
}
.slide-right-enter-active {
  transition: all 0.5s ease-out;
}
.slide-right-enter-from {
  opacity: 0;
  transform: translateX(-50%);
}
@-moz-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-o-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes open {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@-webkit-keyframes open {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@-o-keyframes open {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes open {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
