message()
  box-shadow 0 0 10px 5px rgba(0, 0, 0, 0.2)
  border-radius 0 25px 0 0

  &:after
    content ''
    position absolute
    box-sizing border-box
    left -7.5px
    bottom -7.5px
    width 100%
    border 2.5px solid rgba(180, 180, 180, 0.5)
    clip-path polygon(0 0, 5px 0, 100% calc(100% - 5px), 100% 100%, 0 100%)
    pointer-events none